@page "/policy"
@inject FacadeClientWrapper Facade

<h3>APIM Policy</h3>

<h4>Prompt</h4>

<pre>
Show me the APIM policy in general.
</pre>

<h4>Generated Policy</h4>

<pre>
  @completion
</pre>


@code {
    private string? completion;

    protected override async Task OnInitializedAsync()
    {
        completion = await Facade.GetCompletionsAsync("Show me the APIM policy in general.");
    }
}
